@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,400');
body {
    display: flex;
    font-family: 'Mukta Mahee', sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
}

form {
    margin-left: 4rem;
    margin-top: 4rem;
}

ul {
    margin-top: 4rem;
}

label {
    margin-right: 1rem;
}

#btnEnviar {
    width: 10rem;
    height: 2rem;
    margin-left: 5rem;
    justify-content: center;
    border-radius: 30px;
    background-color: #fff5fd;
}

#btnEnviar:hover {
    background-color: #8458aa;
}